@font-face {
  font-family: 'AABebasNeue';
  src: url("../fonts/AABebasNeue.eot");
  src: url("../fonts/AABebasNeue.eot") format('embedded-opentype'), url("../fonts/AABebasNeue.woff2") format('woff2'), url("../fonts/AABebasNeue.woff") format('woff'), url("../fonts/AABebasNeue.ttf") format('truetype'), url("../fonts/AABebasNeue.svg#AABebasNeue") format('svg');
}
@font-face {
  font-family: 'AGaramondProRegular';
  src: url("../fonts/AGaramondProRegular.eot");
  src: url("../fonts/AGaramondProRegular.eot") format('embedded-opentype'), url("../fonts/AGaramondProRegular.woff2") format('woff2'), url("../fonts/AGaramondProRegular.woff") format('woff'), url("../fonts/AGaramondProRegular.ttf") format('truetype'), url("../fonts/AGaramondProRegular.svg#AGaramondProRegular") format('svg');
}
@font-face {
  font-family: 'AGaramondProBold';
  src: url("../fonts/AGaramondProBold.eot");
  src: url("../fonts/AGaramondProBold.eot") format('embedded-opentype'), url("../fonts/AGaramondProBold.woff2") format('woff2'), url("../fonts/AGaramondProBold.woff") format('woff'), url("../fonts/AGaramondProBold.ttf") format('truetype'), url("../fonts/AGaramondProBold.svg#AGaramondProBold") format('svg');
}
