/* Swipe */
.swiper-container {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
	.swiper-slide {
		float: left;
		padding: 0 15px 40px;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	}
	.swipe-controls {
		position: absolute;
		top: 85px;
		height: 35px;
		width: 35px;
		opacity: 1;
		background-color: #FFFFFF;
		border-radius: 50%;
		cursor: pointer;
		background-size: 8px 20px;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 2;
		transform: translateZ(1px);
		transition: opacity .2s ease-out;
		-webkit-transition: opacity .2s ease-out;
	}
		.swiper-button-disabled.swipe-controls {
			opacity: 0;
		}
		.swipe-controls-prev.swipe-controls {
			left: 10px;
			background-image: url('../../img/button-swipe-prev-mobile.svg');
			box-shadow: -2px 2px 6px rgba(123,139,145,0.45);
			transition: box-shadow .1s ease,
						opacity .2s ease-out;
			-webit-transition: box-shadow .1s ease,
								opacity .2s ease-out;
		}
			.swipe-controls-prev.swipe-controls:active {
				box-shadow: -1px 1px 4px rgba(123,139,145,0.45);
			}
		.swipe-controls-next.swipe-controls {
			right: 10px;
			background-image: url('../../img/button-swipe-next-mobile.svg');
			box-shadow: 2px 2px 6px rgba(123,139,145,0.45);
			transition: box-shadow .1s ease;
			-webit-transition: box-shadow .1s ease;
		}
			.swipe-controls-next.swipe-controls:active {
				box-shadow: 1px 1px 4px rgba(123,139,145,0.45);
			}
	.swipe-pagination {
		text-align: center;
		position: absolute;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		left: 0;
		right: 0;
		bottom: 0;
	}
		.swiper-pagination-bullet {
			display: inline-block;
			margin: 0 10px;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color:  #95A5A6;
			transition: background-color 0.1s ease;
		}
			.swiper-pagination-bullet-active.swiper-pagination-bullet {
				background-color: #F39C12;
			}