html {
  font-family: Arial, sans-serif;
}
#instafeed {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#instafeed .item-insta {
  position: relative;
  display: block;
  padding: 10px;
}
#instafeed .item-insta .insta__wrap-img {
  height: 100%;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}
#instafeed .item-insta .insta__wrap-img img {
  width: 100%;
  object-fit: cover;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
}
#instafeed .item-insta:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#instafeed .item-insta .insta-header {
  position: absolute;
  padding: 0 24px 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -o-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -ms-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}
#instafeed .item-insta .insta-header .insta-logo {
  font-size: 13px;
  margin: 0;
  color: #fff;
}
#instafeed .item-insta .insta-header .insta-logo:before {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #a24f96;
  margin-right: 5px;
}
#instafeed .item-insta .insta-header .insta-date-create {
  color: #ababab;
}
#instafeed .item-insta .insta-caption {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.65em;
}
#instafeed .item-insta .insta-caption__text {
  color: #5d4f5c;
}
#instafeed .item-insta .insta-caption__tags {
  color: #396ca6;
}
