.b-title__logo-text {
  margin-bottom: 5vh;
}
.b-title__logo-ligature svg {
  height: 40px;
}
.b-cosmetics {
  padding: 90px 10px 30px;
}
.b-cosmetics h2 {
  padding: 0 10px;
  margin-bottom: 1.3em;
  text-align: center;
}
.b-cosmetics .lead {
  padding: 0 10px;
  margin-bottom: 4.3em;
  text-align: center;
}
.b-cosmetics__logos-item {
  height: 210px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.b-cosmetics__logos-item span {
  height: 100%;
  width: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 148px;
  -moz-background-size: auto 148px;
  background-size: auto 148px;
}
.b-form {
  position: relative;
  margin-bottom: 60px;
  z-index: 10;
}
.b-form .wrap {
  position: relative;
  z-index: 4;
}
.b-form__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -80px;
  overflow: hidden;
}
.b-form__bg-item1,
.b-form__bg-item2,
.b-form__bg-item3,
.b-form__bg-item4,
.b-form__bg-item5 {
  position: absolute;
  top: 0;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.b-form__bg-item1 {
  left: calc(50% - 708px);
  width: 546px;
  background-position: left bottom 115px;
  -webkit-transition: -webkit-transform 0.5s ease 0.5s;
  -moz-transition: -moz-transform 0.5s ease 0.5s;
  -o-transition: -o-transform 0.5s ease 0.5s;
  -ms-transition: -ms-transform 0.5s ease 0.5s;
  transition: transform 0.5s ease 0.5s;
  z-index: 1;
}
.b-form__bg-item2 {
  left: calc(50% - 625px);
  width: 862px;
  background-position: left bottom 30px;
  -webkit-transition: -webkit-transform 0.5s ease 0.7s;
  -moz-transition: -moz-transform 0.5s ease 0.7s;
  -o-transition: -o-transform 0.5s ease 0.7s;
  -ms-transition: -ms-transform 0.5s ease 0.7s;
  transition: transform 0.5s ease 0.7s;
  z-index: 2;
}
.b-form__bg-item3 {
  left: calc(50% - 470px);
  width: 599px;
  background-position: left bottom 92px;
  -webkit-transition: -webkit-transform 0.5s ease 0.6s;
  -moz-transition: -moz-transform 0.5s ease 0.6s;
  -o-transition: -o-transform 0.5s ease 0.6s;
  -ms-transition: -ms-transform 0.5s ease 0.6s;
  transition: transform 0.5s ease 0.6s;
  z-index: 1;
}
.b-form__bg-item4 {
  right: calc(50% - 658px);
  width: 475px;
  background-position: left bottom 92px;
  -webkit-transition: -webkit-transform 0.5s ease 0.75s;
  -moz-transition: -moz-transform 0.5s ease 0.75s;
  -o-transition: -o-transform 0.5s ease 0.75s;
  -ms-transition: -ms-transform 0.5s ease 0.75s;
  transition: transform 0.5s ease 0.75s;
  z-index: 2;
}
.b-form__bg-item5 {
  right: calc(50% - 839px);
  width: 472px;
  background-position: right bottom 92px;
  -webkit-transition: -webkit-transform 0.5s ease 0.65s;
  -moz-transition: -moz-transform 0.5s ease 0.65s;
  -o-transition: -o-transform 0.5s ease 0.65s;
  -ms-transition: -ms-transform 0.5s ease 0.65s;
  transition: transform 0.5s ease 0.65s;
  z-index: 1;
}
.b-form .start.b-form__bg .b-form__bg-item1,
.b-form .start.b-form__bg .b-form__bg-item2,
.b-form .start.b-form__bg .b-form__bg-item3,
.b-form .start.b-form__bg .b-form__bg-item4,
.b-form .start.b-form__bg .b-form__bg-item5 {
  -webkit-transform: translate(0, 60px);
  -moz-transform: translate(0, 60px);
  -o-transform: translate(0, 60px);
  -ms-transform: translate(0, 60px);
  transform: translate(0, 60px);
}
@media all and (max-width: 1620px) {
  .b-form__bg-item1 {
    left: calc(50% - 46vw);
    width: 448px;
  }
  .b-form__bg-item2 {
    left: calc(50% - 39vw);
    width: 708px;
  }
  .b-form__bg-item3 {
    left: calc(50% - 26vw);
    width: 496px;
  }
  .b-form__bg-item4 {
    right: 8vw;
    width: 389px;
  }
  .b-form__bg-item5 {
    right: -7vw;
    width: 389px;
  }
}
@media all and (max-width: 1150px) {
  .b-cosmetics__logos-item {
    height: 210px;
  }
  .b-cosmetics__logos-item span {
    -webkit-background-size: auto 120px;
    -moz-background-size: auto 120px;
    background-size: auto 120px;
  }
}
@media all and (max-width: 550px) {
  .b-cosmetics {
    padding: 40px 0 0;
  }
  .b-cosmetics .lead {
    margin-bottom: 40px;
  }
  .b-cosmetics__logos.row.row-wrap {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .b-cosmetics__logos-item.col {
    padding: 10px;
    width: 50%;
    height: 120px;
    max-width: 50%;
    min-width: 50%;
  }
  .b-cosmetics__logos-item.col:nth-child(odd) {
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  .b-cosmetics__logos-item.col span {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  .b-form {
    margin-bottom: 10px;
    padding: 10px 10px 0;
  }
  .b-form__bg {
    display: none;
  }
  .b-form .form {
    width: calc(100% + 20px);
    margin: 0 -10px;
    padding: 20px;
  }
}
