.b-title .video-wrapp {
  height: 100vh;
  margin-bottom: 0;
}
.b-title__logo-address {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -o-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  border-bottom: 1px solid rgba(224,224,224,0.3);
}
.b-title__logo-address.address_top {
  border-top: 1px solid rgba(224,224,224,0.3);
  padding: 9px 0 20px;
}
.b-title__logo-address h3 {
  margin: 0;
}
.b-title__logo-address h3,
.b-title__logo-address a {
  color: #fff;
}
.b-title__logo-address .text {
  margin: 0;
}
.b-title__logo-address .show-map:before {
  margin-right: 10px;
  color: #a823a3;
  -webkit-transition: font 0.2s ease;
  -moz-transition: font 0.2s ease;
  -o-transition: font 0.2s ease;
  -ms-transition: font 0.2s ease;
  transition: font 0.2s ease;
}
.b-title__logo-address .show-map:hover {
  color: #e1e1e1;
}
.b-title__logo-address .show-map:hover:before {
  font-size: 1.1em;
}
.b-title__logo-address.address_bottom {
  padding: 13px 0 20px;
}
.b-title__logo-address.address_bottom a {
  font-size: 20px;
  font-weight: bold;
}
.b-title__logo-address.address_bottom a + span {
  color: rgba(255,255,255,0.5);
  margin-left: 10px;
}
.b-title__logo-social {
  margin-top: 70px;
  text-align: center;
}
.b-title__logo-social a {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  width: 64px;
  height: 64px;
  margin: 0 30px;
  color: #fff;
  background-color: rgba(168,35,163,0.9);
  border-radius: 50%;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.b-title__logo-social a:before {
  margin: auto;
}
.b-title__logo-social a:hover {
  background-color: #a823a3;
}
.b-title__logo-social .icon-vk {
  font-size: 15px;
}
.b-title__logo-social .icon-fb {
  font-size: 22px;
}
.b-title__logo-social .icon-inst {
  font-size: 22px;
}
.b-contacts__mobile {
  display: none;
  padding: 0 20px;
}
.b-contacts__mobile-social {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-top: 40px;
  text-align: center;
}
.b-contacts__mobile-social a {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 20px;
  color: #fff;
  background-color: rgba(168,35,163,0.9);
  border-radius: 50%;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.b-contacts__mobile-social a:before {
  margin: auto;
}
.b-contacts__mobile-social a:hover {
  background-color: #a823a3;
}
.b-contacts__mobile-social .icon-vk:before {
  font-size: 15px;
}
.b-contacts__mobile-social .icon-fb:before {
  font-size: 22px;
}
.b-contacts__mobile-social .icon-inst:before {
  font-size: 22px;
}
.b-form {
  position: relative;
  margin-top: 55px;
  margin-bottom: 60px;
  z-index: 10;
}
.b-form .wrap {
  position: relative;
  z-index: 4;
}
.b-form__bg {
  bottom: -80px;
}
.b-form .start.b-form__bg .b-form__bg-item1,
.b-form .start.b-form__bg .b-form__bg-item2,
.b-form .start.b-form__bg .b-form__bg-item3,
.b-form .start.b-form__bg .b-form__bg-item4,
.b-form .start.b-form__bg .b-form__bg-item5 {
  -webkit-transform: translate(0, 60px);
  -moz-transform: translate(0, 60px);
  -o-transform: translate(0, 60px);
  -ms-transform: translate(0, 60px);
  transform: translate(0, 60px);
}
.b-popup[data-map],
.b-popup[data-map] .b-popup__map {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media all and (max-width: 1024px) {
  .b-title__logo-address h3 {
    font-size: 32px;
  }
  .b-title__logo-social {
    margin-top: 50px;
    text-align: center;
  }
}
@media all and (max-width: 550px) {
  .b-title__logo-address.address_top,
  .b-title__logo-address.address_bottom {
    border: none;
  }
  .b-title__logo-address > span {
    padding: 5px 0;
    width: 100%;
    text-align: center;
  }
  .b-title__logo-address.address_top {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .b-title__logo-address.address_top h3 {
    width: 100%;
    text-align: center;
  }
  .b-contacts__mobile {
    display: block;
  }
  .b-form {
    margin: 0;
    padding: 30px 10px;
  }
  .b-form__bg {
    display: none;
  }
  .b-form .form {
    width: calc(100% + 20px);
    margin: 0 -10px;
    padding: 20px;
  }
}
@media all and (max-height: 850px) {
  .b-title__logo-ligature {
    margin-bottom: 5vh;
  }
  .b-title__logo-social {
    margin-top: 8vh;
  }
}
@media all and (max-height: 700px) {
  .b-title__logo {
    padding-top: 15vh;
  }
  .b-title__logo-text {
    margin-bottom: 2vh;
  }
  .b-title__logo-ligature {
    margin-bottom: 2vh;
    font-size: 40px;
  }
  .b-title__logo-social a {
    height: 60px;
    width: 60px;
  }
}
