.b-title__logo-text {
  margin-bottom: 5vh;
}
.b-title__logo-ligature svg {
  height: 40px;
}
.b-cosmetics {
  padding: 90px 0 30px;
}
.b-cosmetics h2 {
  margin-bottom: 1.3em;
  text-align: center;
  color: #a823a3;
}
.b-cosmetics .lead {
  margin-bottom: 4.3em;
  text-align: center;
}
.b-cosmetics__logos {
  margin: 0 20px;
}
.b-cosmetics__logos-item {
  height: 210px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 148px;
  -moz-background-size: auto 148px;
  background-size: auto 148px;
  border-bottom: 1px solid #ababab;
}
.b-form {
  padding-bottom: 90px;
}
@media all and (max-width: 1150px) {
  .b-cosmetics__logos-item {
    height: 210px;
    -webkit-background-size: auto 120px;
    -moz-background-size: auto 120px;
    background-size: auto 120px;
  }
}
