.b-title__logo-text {
  margin-bottom: 5vh;
}
.b-title__logo-date {
  margin-bottom: 30px;
  text-align: center;
  color: #a823a3;
}
.b-title__logo-heading {
  text-align: center;
  color: #000;
  margin-bottom: 1em;
}
.b-title__logo-lead {
  text-align: center;
}
.b-article__header-img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: -325px;
  width: calc(100% - 80px);
  max-width: 1190px;
  height: auto;
  z-index: 1;
}
.b-article__content-img {
  margin: 2.5rem 0 3rem;
  width: 100%;
}
.b-article__content-img img {
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}
.b-article__content-img figcaption {
  line-height: 1.5em;
}
.b-article__note {
  padding-top: 2rem;
}
.b-article__note h3,
.b-article__note h4,
.b-article__note p,
.b-article__note ul {
  margin: 0;
}
.b-article__note h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #000;
}
.b-article__note h4 {
  margin-top: 1.2em;
  margin-bottom: 0.85em;
  color: #a823a3;
}
.b-article__note p.text {
  margin-bottom: 1.35em;
}
.b-article__note-o-list,
.b-article__note-u-list {
  margin-bottom: 1rem;
  color: #4d344a;
}
.b-article__note-u-list li:before {
  margin-right: 6px;
  display: table-cell;
  float: left;
  font-size: 6px;
  color: #a823a3;
  content: '\25CF';
}
.b-article__note-o-list {
  counter-reset: list;
}
.b-article__note-o-list li {
  list-style-type: none;
}
.b-article__note-o-list li:before {
  color: #a823a3;
  counter-increment: list;
  content: counter(list) ". ";
}
.b-socials {
  padding: 3.5rem 0;
}
.b-socials__item {
  position: relative;
  margin: 0 15px;
  display: inline-block;
  padding: 30px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.b-socials__item:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  line-height: 60px;
  height: 60px;
  width: 60px;
  text-align: center;
}
.b-socials .icon-vk {
  font-size: 12px;
  background-color: #477aa8;
}
.b-socials .icon-vk:hover {
  background-color: #406e97;
}
.b-socials .icon-ok {
  font-size: 19px;
  background-color: #f58220;
}
.b-socials .icon-ok:hover {
  background-color: #ef740b;
}
.b-socials .icon-fb {
  font-size: 19px;
  background-color: #517cbe;
}
.b-socials .icon-fb:hover {
  background-color: #426eb2;
}
.b-form {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.b-form__row-block-wrap {
  position: relative;
  z-index: 4;
}
@media all and (max-width: 550px) {
  .b-navigation .burger__button:before,
  .b-navigation .burger__button:after,
  .b-navigation .burger__button span {
    background: #000;
  }
  .b-title {
    background-position: left bottom, center center;
  }
  .b-title__logo-text {
    margin-bottom: 5vh;
  }
  .b-title__logo-date {
    margin-bottom: 30px;
    text-align: center;
    color: #a823a3;
  }
  .b-title__logo-heading {
    text-align: center;
    color: #000;
    margin-bottom: 1em;
  }
  .b-title__logo-lead {
    text-align: center;
  }
  .b-article__note {
    padding-top: 10px;
  }
  .b-article__header-img {
    margin-top: 40px;
    width: 100%;
  }
  .b-article__content-img {
    margin: 20px 0 5px;
    width: 100%;
  }
  .b-article__content-img img {
    height: auto;
    width: calc(100% + 20px);
    margin: 0 -10px;
  }
  .b-socials {
    padding: 40px 0 20px;
  }
  .b-socials__item {
    position: relative;
    padding: 25px;
    width: 50px;
  }
  .b-socials__item:before {
    line-height: 50px;
    height: 50px;
    width: 50px;
  }
  .b-socials .icon-vk {
    font-size: 14px;
  }
  .b-socials .icon-ok {
    font-size: 25px;
  }
  .b-socials .icon-fb {
    font-size: 25px;
  }
  .b-form {
    padding: 30px 10px;
  }
  .b-form__bg {
    display: none;
  }
  .b-form .form {
    width: calc(100% + 20px);
    margin: 0 -10px;
    padding: 20px;
  }
}
