:-webkit-full-screen {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
:-moz-full-screen {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
:-ms-fullscreen {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
:full-screen {
/*pre-spec */
  height: 100%;
  width: 100%;
  object-fit: contain;
}
:fullscreen {
/* spec */
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.b-programs {
  padding: 120px 0;
}
.b-programs h2 {
  margin-bottom: 1.18em;
  text-align: center;
  color: #a823a3;
}
.b-programs .normal {
  margin-bottom: 125px;
  text-align: center;
  color: #000;
}
.b-programs__cards-wrap {
  height: 100%;
}
.b-programs__cards-wrap-item {
  overflow: hidden;
  height: 100%;
  padding: 52px 37px 37px 37px;
  border: 1px solid #e0e0e0;
}
.b-programs__cards-wrap-item h3 {
  text-align: center;
  margin-bottom: 1.35em;
}
.b-programs__cards-wrap-item h3 + p {
  margin-bottom: 75px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.53em;
  color: #000;
}
.b-programs__cards-wrap-item-table {
  margin-bottom: 10px;
}
.b-programs__cards-wrap-item-table li {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  width: 100%;
  height: 40px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.7em 0;
  border-bottom: 1px dotted #ccc;
}
.b-programs__cards-wrap-item-table span:first-child {
  padding-right: 1px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  color: #5e4f5c;
}
.b-programs__cards-wrap-item-table span:last-child {
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #a24f96;
}
.b-programs__cards-wrap-item .yet {
  font-size: 13px;
  line-height: 24px;
  color: #ababab;
}
.b-programs__cards-wrap-item .btn {
  margin: 35px auto 0;
  font-size: 13px;
}
.b-programs__cards-wrap-item .btn:after {
  position: relative;
  padding-left: 10px;
  bottom: 1px;
  content: '›';
}
p.action-programs span:first-child {
  display: block;
  position: relative;
}
p.action-programs span:first-child:after {
  position: absolute;
  display: inline-block;
  top: 0.5em;
  left: 100%;
  margin-left: 10px;
  content: 'акция';
  padding: 4px 5px;
  line-height: 1em;
  text-transform: uppercase;
  background-color: #a24f96;
  border-radius: 3px;
  color: #fff;
  font-size: 9px;
}
.b-reclame__item {
  display: block;
  padding: 10px;
  padding-right: 13%;
  background-position: right 10px center;
  -webkit-background-size: 48px;
  -moz-background-size: 48px;
  background-size: 48px;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -ms-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}
.b-reclame__item-block {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.b-reclame__item-img {
  width: 30%;
  height: 100px;
  margin-right: 20px;
}
.b-reclame__item-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.b-reclame__item-text {
  width: 48%;
  margin-right: 20px;
}
.b-reclame__item-text .but-text {
  color: #a823a3;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.b-reclame__item-text .text {
  color: #40363e;
}
.b-reclame__item:hover {
  -webkit-box-shadow: 0 4px 5px rgba(224,224,224,0.75);
  box-shadow: 0 4px 5px rgba(224,224,224,0.75);
}
.b-parallax {
  padding: 140px 0;
  height: 565px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;
}
.b-parallax .wrap {
  margin: 0 auto;
}
.b-parallax h3 {
  margin-bottom: 65px;
  text-align: center;
  color: #fff;
}
.b-parallax h3 + p {
  margin-bottom: 65px;
  text-align: center;
  color: #fff;
}
.b-slider {
  padding: 104px 0 0;
}
.b-slider h2 {
  text-align: center;
  color: #a823a3;
}
.b-slider__shadow {
  text-align: center;
  height: 520px;
  width: 100%;
  color: #fff;
}
.b-slider__shadow:before {
  font-size: 338px;
  line-height: 516px;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-transition: text-shadow 1.5s ease 0.5s;
  -moz-transition: text-shadow 1.5s ease 0.5s;
  -o-transition: text-shadow 1.5s ease 0.5s;
  -ms-transition: text-shadow 1.5s ease 0.5s;
  transition: text-shadow 1.5s ease 0.5s;
}
.b-slider__shadow.start:before {
  text-shadow: 4px 40px 10px rgba(0,0,0,0.5);
}
.b-slider p {
  margin-bottom: 70px;
  text-align: center;
}
.b-slider .b-slider__viewport {
  height: 544px;
  width: 100%;
}
.b-slider .swipe-controls {
  top: calc(50% - 15px);
  border: 2px solid #000;
}
.b-slider .swiper-button-prev {
  left: 0;
}
.b-slider .swiper-button-next {
  right: 0;
}
.b-form {
  position: relative;
  padding-top: 80px;
  overflow: hidden;
}
.b-form__row {
  padding-bottom: 90px;
}
.b-form__row-block-wrap {
  position: relative;
  z-index: 4;
}
.b-form__row-block form {
  overflow: hidden;
  padding: 65px 17% 33px;
}
.b-form__row-block form h3 {
  margin-bottom: 50px;
  text-align: center;
}
.b-form__row-block form .normal {
  margin-bottom: 5px;
  text-align: center;
}
.b-form__row-block form input[type="submit"] {
  margin-top: 50px;
  width: 100%;
}
.b-form__row-block form .normal {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #5e4f5c;
}
.b-form__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 90px;
}
.b-form__bg-item1,
.b-form__bg-item2,
.b-form__bg-item3,
.b-form__bg-item4,
.b-form__bg-item5 {
  position: absolute;
  top: 0;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.b-form__bg-item1 {
  left: calc(50% - 46vw);
  width: 30vw;
  background-position: left bottom 85px;
  -webkit-background-size: 30vw 25vw;
  -moz-background-size: 30vw 25vw;
  background-size: 30vw 25vw;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s ease 0.5s;
  -moz-transition: -moz-transform 0.5s ease 0.5s;
  -o-transition: -o-transform 0.5s ease 0.5s;
  -ms-transition: -ms-transform 0.5s ease 0.5s;
  transition: transform 0.5s ease 0.5s;
  z-index: 1;
}
.b-form__bg-item2 {
  left: calc(50% - 39vw);
  width: 49vw;
  background-position: left bottom;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s ease 0.7s;
  -moz-transition: -moz-transform 0.5s ease 0.7s;
  -o-transition: -o-transform 0.5s ease 0.7s;
  -ms-transition: -ms-transform 0.5s ease 0.7s;
  transition: transform 0.5s ease 0.7s;
  z-index: 2;
}
.b-form__bg-item3 {
  left: calc(50% - 29vw);
  width: 35vw;
  background-position: left bottom 72px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s ease 0.6s;
  -moz-transition: -moz-transform 0.5s ease 0.6s;
  -o-transition: -o-transform 0.5s ease 0.6s;
  -ms-transition: -ms-transform 0.5s ease 0.6s;
  transition: transform 0.5s ease 0.6s;
  z-index: 1;
}
.b-form__bg-item4 {
  right: 8vw;
  width: 27vw;
  background-position: left bottom 72px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s ease 0.75s;
  -moz-transition: -moz-transform 0.5s ease 0.75s;
  -o-transition: -o-transform 0.5s ease 0.75s;
  -ms-transition: -ms-transform 0.5s ease 0.75s;
  transition: transform 0.5s ease 0.75s;
  z-index: 2;
}
.b-form__bg-item5 {
  right: -8vw;
  width: 27vw;
  background-position: left bottom 72px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s ease 0.65s;
  -moz-transition: -moz-transform 0.5s ease 0.65s;
  -o-transition: -o-transform 0.5s ease 0.65s;
  -ms-transition: -ms-transform 0.5s ease 0.65s;
  transition: transform 0.5s ease 0.65s;
  z-index: 1;
}
.b-form .start.b-form__bg .b-form__bg-item1 {
  -webkit-transform: translate(0, 90px);
  -moz-transform: translate(0, 90px);
  -o-transform: translate(0, 90px);
  -ms-transform: translate(0, 90px);
  transform: translate(0, 90px);
}
.b-form .start.b-form__bg .b-form__bg-item2 {
  -webkit-transform: translate(0, 90px);
  -moz-transform: translate(0, 90px);
  -o-transform: translate(0, 90px);
  -ms-transform: translate(0, 90px);
  transform: translate(0, 90px);
}
.b-form .start.b-form__bg .b-form__bg-item3 {
  -webkit-transform: translate(0, 90px);
  -moz-transform: translate(0, 90px);
  -o-transform: translate(0, 90px);
  -ms-transform: translate(0, 90px);
  transform: translate(0, 90px);
}
.b-form .start.b-form__bg .b-form__bg-item4 {
  -webkit-transform: translate(0, 90px);
  -moz-transform: translate(0, 90px);
  -o-transform: translate(0, 90px);
  -ms-transform: translate(0, 90px);
  transform: translate(0, 90px);
}
.b-form .start.b-form__bg .b-form__bg-item5 {
  -webkit-transform: translate(0, 90px);
  -moz-transform: translate(0, 90px);
  -o-transform: translate(0, 90px);
  -ms-transform: translate(0, 90px);
  transform: translate(0, 90px);
}
.b-inst {
  padding-top: 55px;
}
.b-inst h2 {
  text-align: center;
  margin-bottom: 45px;
}
.b-inst h2 .icon-plus {
  position: relative;
  margin-left: 40px;
  padding: 10px;
  top: -10px;
  font-size: 15px;
  color: #a823a3;
  border: 1px solid #a823a3;
  border-radius: 0;
}
.b-inst h2 .icon-plus:before {
  font-size: 16px;
  margin-right: 10px;
}
.b-inst .instafeed-wrapp {
  margin-bottom: 45px;
}
.b-inst .instafeed-wrapp + .center {
  font-size: 0;
}
.b-inst .instafeed-wrapp + .center button {
  margin: 0 10px;
  width: 305px;
}
