.b-title__logo-text {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5vh;
}
.b-title__logo-ligature {
  margin-bottom: 50px;
}
.b-title__logo-ligature svg {
  height: 40px;
}
.b-title__logo-address {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -o-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid rgba(224,224,224,0.3);
}
.b-title__logo-address.address_top {
  border-top: 1px solid rgba(224,224,224,0.3);
  padding: 9px 0 20px;
}
.b-title__logo-address h3 {
  margin: 0;
}
.b-title__logo-address h3,
.b-title__logo-address a {
  color: #fff;
}
.b-title__logo-address .text {
  margin: 0;
}
.b-title__logo-address .show-map:before {
  margin-right: 10px;
  color: #a823a3;
  -webkit-transition: font 0.2s ease;
  -moz-transition: font 0.2s ease;
  -o-transition: font 0.2s ease;
  -ms-transition: font 0.2s ease;
  transition: font 0.2s ease;
}
.b-title__logo-address .show-map:hover {
  color: #e1e1e1;
}
.b-title__logo-address .show-map:hover:before {
  font-size: 1.1em;
}
.b-title__logo-address.address_bottom {
  padding: 13px 0 20px;
}
.b-title__logo-address.address_bottom a {
  font-size: 20px;
  font-weight: bold;
}
.b-title__logo-address.address_bottom a + span {
  color: rgba(255,255,255,0.5);
  margin-left: 10px;
}
.b-title__logo-social {
  margin-top: 70px;
  text-align: center;
}
.b-title__logo-social a {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  width: 64px;
  height: 64px;
  margin: 0 30px;
  color: #fff;
  background-color: rgba(168,35,163,0.9);
  border-radius: 50%;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.b-title__logo-social a:before {
  margin: auto;
}
.b-title__logo-social a:hover {
  background-color: #a823a3;
}
.b-title__logo-social .icon-vk {
  font-size: 15px;
}
.b-title__logo-social .icon-fb {
  font-size: 22px;
}
.b-title__logo-social .icon-inst {
  font-size: 22px;
}
.b-form {
  position: relative;
  margin-top: -90px;
  margin-bottom: 60px;
  z-index: 10;
}
.b-form .wrap {
  position: relative;
  z-index: 4;
}
.b-form__wrap {
  -webkit-box-shadow: 0 4px 8px rgba(224,224,224,0.75);
  box-shadow: 0 4px 8px rgba(224,224,224,0.75);
}
.b-form__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -80px;
  overflow: hidden;
}
.b-form__bg-item1,
.b-form__bg-item2,
.b-form__bg-item3,
.b-form__bg-item4,
.b-form__bg-item5 {
  position: absolute;
  top: 0;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.b-form__bg-item1 {
  left: calc(50% - 708px);
  width: 546px;
  background-position: left bottom 115px;
  -webkit-transition: -webkit-transform 0.5s ease 0.5s;
  -moz-transition: -moz-transform 0.5s ease 0.5s;
  -o-transition: -o-transform 0.5s ease 0.5s;
  -ms-transition: -ms-transform 0.5s ease 0.5s;
  transition: transform 0.5s ease 0.5s;
  z-index: 1;
}
.b-form__bg-item2 {
  left: calc(50% - 625px);
  width: 862px;
  background-position: left bottom 30px;
  -webkit-transition: -webkit-transform 0.5s ease 0.7s;
  -moz-transition: -moz-transform 0.5s ease 0.7s;
  -o-transition: -o-transform 0.5s ease 0.7s;
  -ms-transition: -ms-transform 0.5s ease 0.7s;
  transition: transform 0.5s ease 0.7s;
  z-index: 2;
}
.b-form__bg-item3 {
  left: calc(50% - 470px);
  width: 599px;
  background-position: left bottom 92px;
  -webkit-transition: -webkit-transform 0.5s ease 0.6s;
  -moz-transition: -moz-transform 0.5s ease 0.6s;
  -o-transition: -o-transform 0.5s ease 0.6s;
  -ms-transition: -ms-transform 0.5s ease 0.6s;
  transition: transform 0.5s ease 0.6s;
  z-index: 1;
}
.b-form__bg-item4 {
  right: calc(50% - 658px);
  width: 475px;
  background-position: left bottom 92px;
  -webkit-transition: -webkit-transform 0.5s ease 0.75s;
  -moz-transition: -moz-transform 0.5s ease 0.75s;
  -o-transition: -o-transform 0.5s ease 0.75s;
  -ms-transition: -ms-transform 0.5s ease 0.75s;
  transition: transform 0.5s ease 0.75s;
  z-index: 2;
}
.b-form__bg-item5 {
  right: calc(50% - 839px);
  width: 472px;
  background-position: right bottom 92px;
  -webkit-transition: -webkit-transform 0.5s ease 0.65s;
  -moz-transition: -moz-transform 0.5s ease 0.65s;
  -o-transition: -o-transform 0.5s ease 0.65s;
  -ms-transition: -ms-transform 0.5s ease 0.65s;
  transition: transform 0.5s ease 0.65s;
  z-index: 1;
}
.b-form .start.b-form__bg .b-form__bg-item1,
.b-form .start.b-form__bg .b-form__bg-item2,
.b-form .start.b-form__bg .b-form__bg-item3,
.b-form .start.b-form__bg .b-form__bg-item4,
.b-form .start.b-form__bg .b-form__bg-item5 {
  -webkit-transform: translate(0, 60px);
  -moz-transform: translate(0, 60px);
  -o-transform: translate(0, 60px);
  -ms-transform: translate(0, 60px);
  transform: translate(0, 60px);
}
.b-popup,
[data-map] {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media all and (max-width: 1620px) {
  .b-form__bg-item1 {
    left: calc(50% - 46vw);
    width: 448px;
  }
  .b-form__bg-item2 {
    left: calc(50% - 39vw);
    width: 708px;
  }
  .b-form__bg-item3 {
    left: calc(50% - 26vw);
    width: 496px;
  }
  .b-form__bg-item4 {
    right: 8vw;
    width: 389px;
  }
  .b-form__bg-item5 {
    right: -7vw;
    width: 389px;
  }
}
@media all and (max-width: 1024px) {
  .b-title__logo-social {
    margin-top: 50px;
    text-align: center;
  }
  .b-form {
    margin-top: -60px;
  }
}
@media all and (max-height: 850px) {
  .b-title__logo {
    padding-top: 15vh;
  }
  .b-title__logo-ligature {
    margin-bottom: 5vh;
  }
  .b-title__logo-social {
    margin-top: 8vh;
  }
}
@media all and (max-height: 700px) {
  .b-title__logo {
    padding-top: 15vh;
  }
  .b-title__logo-text {
    margin-bottom: 2vh;
  }
  .b-title__logo-ligature {
    margin-bottom: 2vh;
    font-size: 40px;
  }
  .b-title__logo-social {
    margin-top: 3vh;
  }
  .b-title__logo-social a {
    height: 60px;
    width: 60px;
  }
}
