.b-title__logo-breadcrumbs {
  margin-bottom: 6vh;
  font-size: 14px;
}
.b-title__logo-breadcrumbs a {
  color: rgba(255,255,255,0.3);
}
.b-title__logo-breadcrumbs a:hover {
  color: rgba(255,255,255,0.7);
}
.b-title__logo-breadcrumbs a:not(:last-child) {
  margin-right: 30px;
}
.b-title__logo-breadcrumbs a:not(:last-child):after {
  content: '\003E';
  margin-left: 30px;
}
.b-title__logo-text {
  margin-bottom: 7vh;
}
.b-title__logo-img {
  margin-bottom: 7vh;
}
.b-title__logo-img svg {
  height: 40px;
}
.b-title__logo-note {
  margin: 0 auto 12vh;
  max-width: 930px;
  text-align: center;
  color: #fff;
}
.b-title__logo-feature {
  color: #fff;
  text-align: center;
}
.b-title__logo-feature span {
  min-width: 180px;
  padding-top: 80px;
  margin: 0 10px;
}
.b-title__logo-feature span:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  font-size: 41px;
  line-height: 80px;
}
.b-title__logo-feature span.icon-all-body:before {
  font-size: 65px;
}
.b-title__logo-feature span:not(:last-child):after {
  top: 0;
  right: -10px;
  height: 110px;
  border-left: 1px solid rgba(255,255,255,0.2);
}
.b-about h2 {
  margin-bottom: 60px;
}
.b-about .lead {
  margin-bottom: 70px;
}
.b-about__slider {
  margin-bottom: 50px;
}
.b-about__slider-wrap {
  height: 475px;
  margin-bottom: 50px;
}
.b-about__slider-slide {
  height: 100%;
}
.b-about__slider-slide img {
  height: 100%;
  object-fit: cover;
}
.b-about__slider .swiper-controls {
  top: calc(50% - 40px);
}
.b-about__slider .swiper-controls-prev {
  left: 50px;
}
.b-about__slider .swiper-controls-next {
  right: 50px;
}
.b-about__detail {
  margin-bottom: 65px;
}
.b-about__detail-item {
  margin-bottom: 35px;
}
.b-about__detail-item h4 {
  color: #a823a3;
  margin-bottom: 0.8em;
}
.b-about__detail-item p.text {
  color: #40363e;
  margin-bottom: 1.5em;
}
.b-faq {
  margin-bottom: 70px;
}
.b-faq h3 {
  margin-bottom: 40px;
}
.b-faq__accordeon .acc-hidden-element__wrap {
  padding: 30px 40px 30px 70px;
}
.b-faq__accordeon .acc-hidden-element__wrap p,
.b-faq__accordeon .acc-hidden-element__wrap ul {
  margin-bottom: 1.5em;
}
.b-faq__accordeon .acc-hidden-element__wrap ul li {
  list-style-position: inside;
  list-style-type: disc;
}
.b-packages {
  margin-bottom: 70px;
}
.b-packages h3 {
  margin-bottom: 40px;
}
.b-packages__accordeon .acc-hidden-element .b-packages__accordeon-description {
  padding: 35px;
}
.b-packages__accordeon .acc-hidden-element .b-packages__accordeon-description p {
  margin-bottom: 3.3em;
}
.b-packages__accordeon .acc-hidden-element .b-packages__accordeon-description h4 {
  margin-bottom: 1.5em;
}
.b-packages__accordeon .acc-hidden-element .b-packages__accordeon-description ol {
  counter-reset: list;
  margin-bottom: 55px;
}
.b-packages__accordeon .acc-hidden-element .b-packages__accordeon-description ol li {
  line-height: 1.5em;
}
.b-packages__accordeon .acc-hidden-element .b-packages__accordeon-description ol li:before {
  counter-increment: list;
  content: counter(list);
  color: #a823a3;
  margin-right: 10px;
}
.b-packages__accordeon .acc-hidden-element .b-packages__slider p {
  line-height: 0;
  font-size: 0;
  margin: 0;
}
.b-other-services h3 {
  margin-bottom: 40px;
}
.b-other-services__links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.b-other-services__links-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: relative;
  height: 304px;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid transparent;
}
.b-other-services__links-item.row1 {
  width: 12.5%;
}
.b-other-services__links-item.row2 {
  width: 25%;
}
.b-other-services__links-item.row3 {
  width: 37.5%;
}
.b-other-services__links-item.row4 {
  width: 50%;
}
.b-other-services__links-item.row5 {
  width: 62.5%;
}
.b-other-services__links-item.row6 {
  width: 75%;
}
.b-other-services__links-item.row7 {
  width: 87.5%;
}
.b-other-services__links-item.row8 {
  width: 100%;
}
.b-other-services__links-item:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  z-index: 1;
}
.b-other-services__links-item:hover:after {
  background-color: rgba(0,0,0,0);
}
.b-other-services__links-item h4 {
  position: relative;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
@media all and (max-height: 670px) {
  .b-title__logo {
    padding: 60px 0 0 0;
  }
  .b-title__logo-breadcrumbs {
    margin-bottom: 4vh;
  }
  .b-title__logo-text {
    margin-bottom: 5vh;
  }
  .b-title__logo-img {
    margin-bottom: 5vh;
  }
  .b-title__logo-note {
    margin: 0 auto 9vh;
  }
}
